<a routerLink="/administracion/crear-plan" class="btn">Nuevo Plan</a>
<div class="card">
    <div class="card-action blue-grey center-align white-text">
        <h3>Lista de planes</h3>
    </div>
    <div class="card-content">

        <table class="highlight white">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripcion
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pl of listadoRegistrosPl">
                    <td>
                        {{pl.nombre}}
                    </td>
                    <td>
                        {{pl.descripcion}}
                    </td>
                    <td>
                        {{pl.precio}}
                    </td>
                    <td>
                        <a routerLink="/administracion/editar-plan/{{pl.id}}" class="btn"><i
                                class="material-icons prefix">edit</i></a>
                    </td>
                    <td>
                        <a routerLink="/administracion/eliminar-plan/{{pl.id}}" class="btn red">
                            <i class="material-icons prefix">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
