<a routerLink="/administracion/crear-mascota" class="btn">Nueva Mascota</a>
<div class="card">
    <div class="card-action blue-grey center-align white-text">
        <h3>Lista de Mascotas</h3>
    </div>
    <div class="card-content">

        <table class="highlight white">
            <thead>
                <tr>
                    <th>
                        Foto
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Especie
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Comentario
                    </th>
                    <th>
                        Plan
                    </th>
                    <th>
                        Propietario
                    </th>
                    <th>
                        Editar
                    </th>
                    <th>
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of listadoRegistrosM">
                    
                    <td>
                        <img src="{{m.foto}}" class="fotoMascota" />
                    </td>
                    <td>
                        {{m.nombre}}
                    </td>
                    <td>
                        {{m.especie}}
                    </td>
                    <td>
                        {{m.estado}}
                    </td>
                    <td>
                        {{m.comentario}}
                    </td>
                    <td>
                        {{m.plan? m.plan.nombre:''}}
                    </td>
                    <td>
                        {{m.usuario? m.usuario.nombre:''}}
                    </td>
                    <td>
                        <a routerLink="/administracion/editar-mascota/{{m.id}}" class="btn"><i
                                class="material-icons prefix">edit</i></a>
                    </td>
                    <td>
                        <a routerLink="/administracion/eliminar-mascota/{{m.id}}" class="btn red">
                            <i class="material-icons prefix">delete</i></a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
