<nav>
    <div class="nav-wrapper blue-grey darken-4">
        <a routerLink="/inicio" class="brand-logo">Mascota Feliz</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/administracion/usuarios">Usuarios</a></li>
            <li><a routerLink="/administracion/productos">Productos</a></li>
            <li><a routerLink="/seguridad/cambio-contrasena">Cambiar Clave</a></li>
            <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
            <li><a routerLink="/administracion/usuarios">Usuarios</a></li>
            <li><a routerLink="/administracion/productos">Productos</a></li>
            <li><a routerLink="/seguridad/cambio-contrasena">Cambiar clave</a></li>
            <li><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
</ul>