<div class="row">
    <div class="col s12 m8 l5 offset-m2 offset-l3">
      <div class="card">
        <div class="card-action blue-grey center-align white-text">
          <h3>Eliminar producto</h3>
        </div>
  
        <div class="card-content">
          <form (ngSubmit)="BorrarProducto()">
          <div class="form-field">
            <a href="/administracion/listar-productos" class="btn waves-effect waves-dark right">Cancelar</a>
            <button type="submit" class="btn red waves-effect waves-dark left">Eliminar</button>
          </div><br>
        </form>
  
      </div>
    </div>
  </div>