<nav>
    <div class="nav-wrapper blue-grey darken-4">
        <a routerLink="/inicio" class="brand-logo">Mascota Feliz</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="sesion"><a routerLink="/administracion/listar-usuarios">Usuarios</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-productos">Productos</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">Planes</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-sucursales">Sucursales</a></li>
            <li *ngIf="sesion"><a routerLink="/administracion/listar-mascotas">Mascotas</a>
            </li>
            <li *ngIf="seInicioSesion"><a routerLink="/about">Acerca de</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/manejo/listar-contactos">Contáctenme</a></li>
            
            <li *ngIf="seInicioSesion"><a routerLink="/cliente/listar-mascotas">Mis Mascotas</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-contrasena">Cambiar Clave</a></li>
            <!-- <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li> -->
            <li *ngIf="seInicioSesion"><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large text-align"><i class="material-icons">account_box</i></a></li>
            <li class="blue-grey" *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
            <li class="teal lighten-2" *ngIf="!seInicioSesion"><a routerLink="/seguridad/registro">Registrar</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="sesion"><a routerLink="/administracion/listar-usuarios">Usuarios</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-productos">Productos</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">Planes</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-sucursales">Sucursales</a></li>
    <li *ngIf="sesion"><a routerLink="/administracion/listar-mascotas">Mascotas</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/manejo/listar-contactos">Contáctenme</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/cliente/listar-mascotas">Mis Mascotas</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-contrasena">Cambiar Clave</a></li>
    <!-- <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li> -->
    <li *ngIf="seInicioSesion"><a href="#" data-target="slide-out" class="sidenav-trigger show-on-large text-align"><i class="material-icons">account_box</i></a></li>
    <li class="blue-grey" *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
    <li class="teal lighten-2" *ngIf="!seInicioSesion"><a routerLink="/seguridad/registro">Registrar</a></li>
</ul>

<ul id="slide-out" class="sidenav blue-grey darken-4">
    <li><div class="user-view center-align white-text">
      <div class="background teal darken-3">
      </div>
      <i class="material-icons large">account_circle</i>
      <a ><span class="blue-text name">{{datos.datos.rol}}</span></a>
      <a ><span class="white-text name">{{datos.datos.nombre}}</span></a>
      <a ><i class="material-icons small">email</i><span class="white-text email">{{datos.datos.correo}}</span></a>
    </div></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect white-text" routerLink="/seguridad/cerrarSesion"> <i class="material-icons white-text">input</i> Cerrar sesión</a></li>
  </ul>