<nav>
    <div class="nav-wrapper blue-grey darken-4">
        <a routerLink="/inicio" class="brand-logo">Mascota Feliz</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="sesion=='admin'"><a routerLink="/administracion/listar-usuarios">Usuarios</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-productos">Productos</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">Planes</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-sucursales">Sucursales</a></li>
            <li *ngIf="sesion=='admin'||sesion=='assessor'"><a routerLink="/administracion/listar-mascotas">Mascotas</a>
            </li>
            <li *ngIf="seInicioSesion"><a routerLink="/about">Acerca de</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/manejo/listar-contactos">Contáctenme</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-contrasena">Cambiar Clave</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
            <li class="blue-grey" *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
            <li class="teal lighten-2" *ngIf="!seInicioSesion"><a routerLink="/seguridad/registro">Registrar</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="sesion=='admin'"><a routerLink="/administracion/listar-usuarios">Usuarios</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-productos">Productos</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-planes">Planes</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-sucursales">Sucursales</a></li>
    <li *ngIf="sesion=='admin'||sesion=='assessor'"><a routerLink="/administracion/listar-mascotas">Mascotas</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/manejo/listar-contactos">Contáctenme</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-contrasena">Cambiar Clave</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cerrarSesion">Cerrar Sesión</a></li>
    <li class="blue-grey" *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificar">Iniciar Sesión</a></li>
    <li class="teal lighten-2" *ngIf="!seInicioSesion"><a routerLink="/seguridad/registro">Registrar</a></li>
</ul>