<body>
    
<section class="" id="titulo">
    <div class="box image">
    <h1>Visión empresarial mascota feliz</h1>
    </div>
</section>

<section id="Cotenido">
    <div class="Mision">
        <h3>Mision</h3>
        <p>Nuestro propósito nace del amor por los animales y el deseo de brindar servicios y productos de calidad, con el fin de ofrecer un cuidado excepcional a tu mascota, con nuestro equipo de trabajo especializado de Mascota feliz con enfoque humano brindamos un servicio de calidad superior que tu mascota necesita, nuestra infraestructura de vanguardia y equipo de punta, buscamos impactar positivamente tu vida, nuestro deseo es seguir haciendo crecer nuestras sucursales y establecer una red competitiva a nivel nacional que ofrezca el soporte que requieras en cualquier parte del país.</p>
    </div>
    <div class="Vision">
        <h3>Vision</h3>
        <p>Nuestra red de atención para el 2025 será la mejor red acreditada del país, que ofrecerá servicios modernos con tecnología de punta logrando impactar positivamente y contrayendo al desarrollo de la comunidad que deseamos, esparciendo nuestros servicios de vanguardia, crecerá sin fronteras llegando a todo el mundo.</p>
    </div>
    <div class="Valores">
        <h3>Valores</h3>
        <p>Los valores que destacan a mascota feliz son el compromiso por la calidad de cada producto y servicio ofrecido, la responsabilidad frente a la crueldad animal asegurando que nuestros procedimientos son lo más humano posibles, nuestro enfoque hacia la honestidad nos permite generar confianza necesaria en nuestros clientes para dejar en nuestras manos sus mascotas.</p>
    </div>
</section>

</body>